/* Boon Chew
   July 28, 2025
*/

/* Global Styles */
body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: aliceblue;
	color: floralwhite;
	text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.2);
	line-height: 2;
	font-size: 16px;
	/* 0 margin allows background to reach the edges of the screen */
	margin: 0;
}

header {
	background-color: darkslateblue;
	padding: 20px 0 10px 0;
}

/* Centering all headings and giving a bigger shadow to provide emphasis */
h1, h2, h3 {
	text-shadow: 1px 1px 3px rgb(0, 0, 0, 0.4);
	text-align: center;
}

h1 {
	font-size: 3em;
	margin-bottom: 0;
}

h2 {
	font-size: 2em;
	margin: 20px 0 40px 0;
}

h3 {
	font-size: 1.5em;
	margin: 20px 0 10px 0;
}

/* summary is smaller and italics */
.summary {
	text-align: center;
	background-color: slateblue;
	box-shadow: none;
	border-radius: 0;
	margin: 0 0 20px 0;
	padding: 15px 40px;
	font-style: italic;
	font-size: 0.8em;
	line-height: 1;
}

/* accesses nested divs because of how the HTML is structured */
div div {
	background-color: cornflowerblue;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	padding: 10px 35px;
	margin: 20px;
}

/* accesses further nested divs to remove their styling so it is cleaner */
div div div {
	background-color: none;
	padding: 0;
	margin: 0;
	box-shadow: none;
}

/* styles the footer to stand out more */
footer {
	background-color: rgb(0, 0, 0, 0.1);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	text-align: center;
	padding: 20px;
	margin: 10px 80px;
	transition: background-color 0.5s;
}

/* footer animation */
footer:hover {
	transition-timing-function: ease;
	background-color: rgb(0, 0, 0, 0.2);
}

/* removes bullets from lists to be cleaner */
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

/* bottom section styled the same as the top to add cohesiveness */
.wrapper {
	margin: 0;
	padding: 0;
	border-radius: 0;
	background-color: darkslateblue;
}

/* remove styling on internal divs to be cleaner */
.wrapper div {
	background-color: darkslateblue;
	padding: 20px 0;
	margin: 0;
}


/* emphasizes each abbreviation to be more prominent and have an effect */
abbr {
	color: mediumseagreen;
	font-weight: bolder;
	text-decoration: none;
	transition: color 0.3s;
}

/* abbr hover effect color change */
abbr:hover {
	transition-timing-function: ease;
	color: forestgreen;
}

/* links styled to be more visually appealing */
a:link {
	color: skyblue;
}

a:hover {
	color: lightcyan;
}

a:visited {
	color: blueviolet;
}
