body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: aliceblue;
	color: white;
	text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.2);
	line-height: 2;
	font-size: 16px;
	margin: 0;
}

header {
	background-color: darkslateblue;
	padding: 20px 0 10px 0;
}

h1 {
	font-size: 3em;
	text-align: center;
	margin-bottom: 0;
}

h2 {
	font-size: 1.5em;
	text-align: center;
	margin: 20px 0 40px 0;
}

h3 {
	font-size: 1.2em;
	text-align: center;
	margin: 20px;
}

.summary {
	text-align: center;
	background-color: slateblue;
	box-shadow: none;
	border-radius: 0;
	margin: 0 0 20px 0;
}

div div {
	background-color: cornflowerblue;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	padding: 10px 35px;
	margin: 20px;
}

div div div {
	background-color: none;
	padding: 0;
	margin: 0;
	box-shadow: none;
}

footer {
	background-color: rgb(0, 0, 0, 0.1);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	text-align: center;
	padding: 20px;
	margin: 10px 80px;
}

abbr {
	color: mediumseagreen;
	font-weight: bolder;
	text-decoration: none;
}

a:link {
	color: skyblue;
}

a:hover {
	color: lightcyan;
}

a:visited {
	color: blueviolet;
}
